$general-width-page: 90%;
$general-center-page: 0 auto;
$leave-decoration-text: none;
$blue-button-default-background: #0182f9;
$blue-button-default-padding: 0.5rem 1rem;
$blue-button-default-color: white;